*~
lecture
qrupdate-1.1.2.tar.gz
machine-learning_zip
machine-learning-ex1/ex1/lib/
machine-learning-ex2/ex2/lib/
machine-learning-ex3/ex3/lib/
machine-learning-ex4/ex4/lib/
machine-learning-ex5/ex5/lib/
machine-learning-ex6/ex6/lib/
machine-learning-ex7/ex7/lib/
machine-learning-ex8/ex8/lib/
